body
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button
{
    padding: 24px;
    border-radius: 20px;
    font-size:medium;
    background-color: #808080;
}
