<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est neque temporibus excepturi, ducimus iste atque? Vero optio aliquam explicabo tempore, quia itaque sit quis vel ex dignissimos officiis, quaerat laboriosam necessitatibus natus possimus. Quaerat sunt qui rem laboriosam. Voluptatibus odio temporibus officiis eos labore ducimus expedita dolore possimus, aliquid accusamus.</p>
    <button>Click me</button>
</body>
</html>