.searchBox {
    margin-top: 20px;
    text-align: center;
}

.searchBox form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchBox form button {
    margin-top: 10px;
}
