*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #edf1fd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    padding: 10px 0 15px;
}

header nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

header nav .logo{
    font-weight:900;
    font-size: 35px;
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav ul li{
    list-style: none;
    cursor: pointer;
}

header nav ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: black;
}

header nav ul li a:hover{
    font-weight: 900;
    color: green;
}

header nav .search_field{
    display: flex;
    gap: 30px;
}

header nav input{
    padding: 4px 10px;
    font-size: 15px;
    border-radius: 10px;
}

button{
    color:  rgb(18,155,155);
    padding: 4px 10px;
    cursor: pointer;
    color: green;
    border: 1px solid green;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
}

button:hover{
    background-color: rgb(131, 194, 137);
    color: black;
}


main{
    display: flex;
    align-items: center;
}

main .left_section{
    width: 60%;
    padding: 0 8%;
}

main .left_section .heading{
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 16px;
}

main .left_section .heading span{
    color: rgb(18,155,155);
    font-weight: 900;
    background-color: #dfdfe0;
    padding:0 15px;
}



main .left_section .para{
    font-weight: 500;
    font-size: 30px;  
}

main .left_section .para span{
    font-size: 25px;
    font-weight: 700;
    color: rgb(18,155,155);
}


main .right_section{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    gap: 30px;
}

main .right_section img{
    height: 325px;
    width:325px;
    border-radius: 50%;
}


footer{
    display: flex;
    font-weight: 400;
    padding: 20px 20px;
    justify-content: space-between;
}

footer ul{
    display: flex;
    list-style: none;
    align-items: center;
    font-size: larger;
}

footer ul li i{
   margin-right: 30px;
}
