@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../Assets/bg.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 83px;
    height: 70px;
    background-color: #000;
}

nav div ul
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 55px;
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

nav div ul a
{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav div ul a:hover
{
    color: #ba0cc5;
}

img
{
    width: 92px;
    height: 32px;
}

.line
{
    width:1px;
    height: 50px;
    background-color: #fff;

}

.logo_line
{
    display: flex;
    justify-content:flex-start;
    gap: 30px;
}

.main_section div
{
    margin-bottom: 20px;
    text-align: center;
}

.main_section div h1
{
    max-width: 846px;
    margin:0 auto;
    font-weight: 700;
    font-size:75px;
    line-height: 98px;
    text-align: center;
    color: #ffffff;
    padding-top: 172px;    
}

.main_section div p
{
    font-weight: 500;
    font-size: 25px;
    line-height: 45px;
    color: #ffffff;
}

button
{
    background-color: #ba0cc5;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 45px;
    color: #ffffff;
    padding: 0px 15px;
    border: none;
    cursor: pointer;
}

button:hover
{
    transform: translateY(5px);
    background-color: #4d0752;
}





