<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        div{
            display: flex;
            gap: 15px;
        }
    </style>
</head>
<body>
    <h2>Total Number of USER With Us: <%= count %></h2>
    <div>
        <form action="/users" method="get">
            <button>Show users</button>
        </form>
    
        <form action="/insert" method="get">
            <button>Join us today!</button>
        </form>
    </div>
</body>
</html>