<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <form method="post" action="/insert" >
        <label for="username"><b>Username:</b> </label>
        <input type="text" name="username" id="username"><br><br>

        <label for="email"><b>Email:</b> </label>
        <input type="text" name="email" id="email"><br><br>

        <label for="password"><b>Set Password:</b> </label>
        <input type="password" name="password" id="password"><br><br>

        <label for="confirmPassword"><b>Confirm Password:</b> </label>
        <input type="password" name="confirmPassword" id="confirmPassword"><br><br>

        <button>Add User</button>
    </form>
</body>
</html>